node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Editor / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Test/coverage
coverage
.vitest

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
